**/node_modules
.git
.gitignore
.dockerignore
deploy/*.config
deploy/*.env*
!deploy/.env.example
docker-compose.yml
Dockerfile
*.log
flats
contracts.sublime-project
contracts.sublime-workspace
upgrade/*.env*
!upgrade/.env.example
build/
