**/node_modules/
contracts/build/
contracts/flats/
contracts/coverage/
contracts/.0x-artifacts/
deploy/bridgeDeploymentResults.json
.node*
.idea
*.sublime-*
**/*.config
**/*.env*
!**/.env.example
**/*.log
