dist: trusty
sudo: required
group: beta
language: node_js
node_js:
  - "8"
cache:
  yarn: true
env:
  - SOLIDITY_COVERAGE=false
  - SOLIDITY_COVERAGE=true
matrix:
  fast_finish: true
  allow_failures:
    - env: SOLIDITY_COVERAGE=true
script:
  - yarn test
