{
  "extends": ["plugin:node/recommended", "airbnb-base", "plugin:prettier/recommended"],
  "plugins": ["node"],
  "env": {
    "node": true
  },
  "rules": {
    "no-use-before-define": ["error", { "functions": false }],
    "node/no-unpublished-require": "off",
    "no-console": "off"
  }
}
