{
  "extends": [
    "../.eslintrc"
  ],
  "rules": {
    "consistent-return": "off",
    "global-require": "off",
    "no-console": "off",
    "node/no-extraneous-require": ["error", {
      "allowModules": ["web3-utils"]
    }]
  }
}
